<% if contributor_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome back!</h1>
            <%= link_to "Learn more", "#", class: "btn btn-secondary btn-lg" %>
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome to my Blog!</h1>
            <p>This site is a work in progress</p>
            <%= link_to "Learn more", "#", class: "btn btn-secondary btn-lg" %>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p><%= link_to "Tasty Words", "https://tastywords.herokuapp.com", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-3">
                <p class="button"><%= link_to "WikiQuery", "https://wikiquery.herokuapp.com", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-3">
                <p><%= link_to "Indie Cuisine", "https://indiecuisine.herokuapp.com", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-3">
                <p><%= link_to "Nucleo", "https://katesapp8.herokuapp.com", class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
<% end %>